## Pandas の使い方
### データを用意

In [32]:
import pandas as pd

df_sample =\
pd.DataFrame([[2,3,5,7,11,13,17,19,23]).T  #とりあえず適当なデータを作ります

df_sample.columns = ["day_no","class","score1","score2"]  #カラム名を付ける
df_sample.index   = [11,12,13,14,15,16]  #インデックス名を付ける
df_sample # 表示

   day_no class score1 score2
11   day1     A    100    120
12   day2     B    150    160
13   day1     A    200    100
14   day2     B    150    180
15   day1     C    100    110
16   day2     C     50     80

### 列名、インデックス名の取得

In [33]:
df_sample.columns, df_sample.index

(Index(['day_no', 'class', 'score1', 'score2'], dtype='object'),
 Int64Index([11, 12, 13, 14, 15, 16], dtype='int64'))

### 列名、インデックス名の上書き

In [34]:
df_sample.columns = ["Day_#","Class","Point1","Point2"]   # 列名を上書き
df_sample.index   = [1,2,3,4,5,6]   # インデックス名を上書きする
df_sample    # これらはともに破壊的

  Day_# Class Point1 Point2
1  day1     A    100    120
2  day2     B    150    160
3  day1     A    200    100
4  day2     B    150    180
5  day1     C    100    110
6  day2     C     50     80

In [35]:
# Renameメソッドを使う
df_sample.rename(columns={'Point1': 'Point_1'})  #対応関係を辞書型で入れてやる(非破壊的)
df_sample.columns

Index(['Day_#', 'Class', 'Point1', 'Point2'], dtype='object')